.lines {
  padding: 0;
  margin: 0;
  list-style-type: none;
  min-height: 12em;
}

.lines a {
  display: block;
  text-decoration: none;
  padding: 0.5em;
}

.lines a:hover {
  background-color: lavender;
}

.lines a:active {
  color: indigo;
}
