.lines {
  border: solid 1px indigo;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em;
  font-size: 1.5em;
  list-style-type: none;
}

.lines a {
  display: block;
  text-decoration: none;
}

.lines a:hover {
  background-color: lavender;
}

.lines a:active {
  color: indigo;
}
