header {
  display: flex;
  gap: 2em;
  background-color: indigo;
  color: lavender;
  padding: 0 1em;
}

.logo {
  margin: 0.2em;
  background-color: lavender;
  color: indigo;
  line-height: 1em;
  vertical-align: middle;
  text-align: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  padding: 0.5em;
  box-sizing: border-box;
}

.layout-container {
  border: solid 1px indigo;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em;
}
