body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media only screen and (max-width: 800px) {
  /* TODO: move to respective css files so to avoid use of important */
  header {
    padding: 0 !important;
    justify-content: space-between;
  }

  select {
    font-size: 0.7em !important;
  }

  .table-wrap {
    width: 100%;
    overflow-x: auto;
  }

  .line-details,
  .lines-panel {
    max-width: 100vw;
    min-width: initial !important;
    padding: 2em !important;
  }

  .lines-panel {
    max-height: fit-content !important;
  }

  .single-line-view,
  .home-view {
    flex-direction: column;
  }
}
